<div class="newform col-10 offset-1">
<h4 class="pt-3"><strong>投稿する</strong></h4>

<%= form_with model: @cook, local:true do |f| %>

  <%= f.radio_button :is_active, :true %>
  <%= f.label :is_active, "公開", {value: :true, style: "display: inline-block;"} %>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active, "非公開", {value: :false, style: "display: inline-block;"} %>

  <div class="field　cook-image">
    <%= f.label "料理写真" %><span class="text-danger"> ＊必須</span><br />
    <%= f.attachment_field :image, placeholder: "画像" %>
  </div>

  <div class="field">
    <%= f.label "料理名" %><br />
    <%= f.text_field :cooking_name, autofocus: true, class: 'col-12' %>
  </div>

  <div class="field">
    <%= f.label "料理メモ" %><br />
    <%= f.text_area :description, autofocus: true, class: 'col-12' %>
  </div>

  <div class="actions mb-1">
    <%= f.submit "保存", class: "btn  btn-success col-4 mt-1 offset-4" %>
  </div>
<% end %>
</div>