<h3>編集する</h3>
<%= form_with model: @cook, local:true do |f| %>

  <%= f.radio_button :is_active, :true %>
  <%= f.label :is_active, "公開", {value: :true, style: "display: inline-block;"} %>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active, "非公開", {value: :false, style: "display: inline-block;"} %>

  <h4>料理写真</h4>
    <%= f.attachment_field :image %>
  <h4>料理名</h4>
    <%= f.text_field :cooking_name %>
  <h4>メモ</h4>
    <%= f.text_area :description %>
  <div>
    <%= link_to "戻る", cook_path(@cook.id) %>
    <%= f.submit "編集" %>
  </div>
<% end %>