<div class="container">
  <div class="row">
    <div class="cooks-index col-12 col-lg-10 offset-lg-1">
      <h4 class="my-5 text-center"><strong><strong>みんなの料理</strong></h4>

      <div class="col-12" style="background:#fffff0;">
        <!--検索ボックス-->
        <div class="searchbox col-12 py-3">
          <%= search_form_for @q do |f| %>
          <%= f.search_field :cooking_name_or_description_cont, placeholder: 'キーワードを入力...' %>
          <%= f.submit ("検索") , class: 'btn btn-sm btn-outline-success' %>
          <%= link_to "クリア", "/cooks", class: "btn btn-sm btn-outline-primary" %>
          <% end %>
        </div>
        <!--end-->

        <div class="users-cooks col-12 d-flex my-box-light flex-wrap">
          <div class="d-flex my-box-light flex-wrap">
          <% @cooks.each do |cook| %>
          <table>
            <tr>
              <td>
                <%= link_to cook_path(cook.id) do %>
                  <%= attachment_image_tag cook, :image, size:"200x200", format: 'jpeg', class:"m-1 rounded" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
              <%= link_to cook_path(cook.id), style:"color:#8b0000;" do %><%= truncate(cook.cooking_name, length: 10) %><% end %>
              </td>
            </tr>
            <tr>
              <td>
               <span class="text-secondary"><i class="fas fa-user text-secondary"></i> By <%= link_to cook.user.nickname, "/users/#{cook.user.nickname}", class:"text-secondary" %></span>
              </td>
            </tr>
          </table>
          <% end %>
          </div>
          <div class="pagination col-12 mt-5 mb-3"><%= paginate @cooks %></div>
        </div>
      </div>
    </div>
  </div>
</div>
