<h3 class="col-12 my-3"><strong>皆んなの料理</strong></h3>

<!--検索ボックス-->
<div class="col-12 my-3">
  <div class="searchbox">
    <%= search_form_for @q do |f| %>
    <%= f.search_field :cooking_name_or_description_cont, placeholder: 'キーワードを入力...' %>
    <%= f.submit ("検索") , class: 'btn btn-sm btn-outline-success' %>
    <%= link_to "クリア", "/cooks", class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </div>
</div>
<!--end-->

<% @cooks.each do |cook| %>
  <div class="col-3">
    <%= link_to cook_path(cook.id) do %>
      <%= attachment_image_tag cook, :image, size:"200x200", format: 'jpeg' %>
      <p><%= truncate(cook.cooking_name, length: 10) %></p>
    <% end %>
    <!--cook.descriptionは省略表示し、続きで詳細ページに遷移-->
    <!--<%= truncate(cook.description, length: 15) do %>-->
    <!--  <p>(<%= link_to '続きを読む', cook_path(cook.id) %>)<p>-->
    <!--<% end %>-->
  </div>
<% end %>
