<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card-list-containar">
        <div class="card w-50 h-25 col-12 col-lg-10 mx-auto mt-4 shadow-lg">
          <%= attachment_image_tag @cook, :image, format: 'jpeg', class: "card-img-top-show mt-3" %>
          <!--いいね機能-->
          <% if user_signed_in? %>
            <div id="cook_<%= @cook.id %>" style="font-size:15px;">
              <div class="favorite-btn text-right col-12"><%= render "favorites/favorite-btn", cook: @cook %></div>
            </div>
          <% end %>
          <!--end-->
          <div class="card-body pt-0">
            <div class="row">
              <div id="cook_show_user_image" class="col-12 col-lg-3">
                <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
              </div>
              <div class="col-12 col-lg-9">
                <p class="card-title">
                  <strong><i class="fas fa-utensils"></i><span> <%= @cook.cooking_name %></span></strong>
                </p>
                <p class="card-title">
                  <strong><i class="far fa-edit"></i><span>料理メモ：</strong><br>
                  <%= simple_format(h(@cook.description), {}, sanitize: false, wrapper_tag:"div") %></span></strong>
                </p>
                <p class="card-title">
                  <span><i class="fas fa-user"></i> By <%= link_to @cook.user.nickname, "/users/#{@user.nickname}" %></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--current_userであれば編集と削除ボタン表示-->
      <div class="col-10 offset-1 col-lg-10 offset-lg-1 text-right mt-3">
        <% if @cook.user == current_user %>
          <%= link_to "編集", edit_cook_path(@cook.id), class: "btn btn-sm btn-success mr-3" %>
          <%= link_to "削除", cook_path(@cook.id), method: :delete, "data-confirm" => "削除します", class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
      <!--end-->

      <!--コメント機能-->
      <% if user_signed_in? %>
      <div class="col-12 col-lg-10 offset-lg-1 mb-2 mt-2">
        <div id="cook_<%= @cook.id %>">
          <div class="comments-count col-12 my-1">コメント<%= @cook.post_comments.count%>件</div>
          <div class="post_comments col-12">
            <%= render 'post_comments/comments_index', cook: @cook %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-10 offset-lg-1">
        <%= form_with model:[@cook, @post_comment] do |f| %>
          <%= f.text_area :comment, rows:2, placeholder: "コメントはこちらへ", class:"col-12" %>
          <%= f.submit "コメントする", class:"btn btn-sm btn-outline-success" %>
        <% end %>
      </div>
      <% end %>
      <!--end-->
    </div>
  </div>
</div>