<div class="col-3 my-3">
  <!--ユーザー情報-->
    <%= render 'users/user_info', user: @user %>
  <!--end-->
</div>

<div class="col-9 my-3">
  <h3 class="col-12 ml-3">
    <strong>料理詳細画面</strong>
  </h3>
   <!--料理詳細-->
   <table class="table">
      <%= attachment_image_tag @cook, :image, :fill, 350, 350, format: 'jpeg', class: "d-block mx-auto mt-3" %>

      <!--いいね機能-->
      <div id="cook_<%= @cook.id %>">
        <div class="favorite-btn col-12 text-right pr-5"><%= render "favorites/favorite-btn", cook: @cook %></div>
      </div>
      <!--end-->

      <div class="col-12">
        <% if @cook.user == current_user %>
          <%= link_to "編集", edit_cook_path(@cook.id), class: "btn btn-sm btn-success mr-3 my-3 offset-10" %>
          <%= link_to "削除", cook_path(@cook.id), method: :delete, "data-confirm" => "削除します", class: "btn btn-sm btn-danger my-3" %>
        <% end %>
      </div>
      <tr>
        <th width="20%">料理名</th>
        <th width="80%"><%= @cook.cooking_name %></th>
      </tr>
      <tr class="pt-3">
        <th width="20%">メモ</th>
        <th width="80%"><%= simple_format(h(@cook.description), {}, sanitize: false, wrapper_tag:"div") %></th>
      </tr>
    </table>
    <!--end-->

    <!--コメント機能-->
    <div id="cook_<%= @cook.id %>">
      <div class="comments-count col-12 my-1">コメント<%= @cook.post_comments.count%>件</div>

      <div class="post_comments col-12">
        <%= render 'post_comments/comments_index', cook: @cook %>
      </div>
    </div>

    <div class="col-12">
      <%= form_with model:[@cook, @post_comment] do |f| %>
        <%= f.text_area :comment, rows:2, placeholder: "コメントはこちらへ", class:"col-12" %>
        <%= f.submit "コメントする", class:"btn btn-sm btn-outline-success" %>
      <% end %>
    </div>
    <!--end-->
</div>