<div class="container">
  <div class="row">
    <div class="all_users col-12 col-lg-8 offset-lg-2 ">
      <h4 class="my-5 text-center"><strong>ユーザ一覧</strong></h4>

      <div class="col-12 py-3">
      <table class="table table-sm">
        <tr>
          <th class="text-center">ユーザー</th>
          <th>自己紹介</th>
          <th class="text-center">投稿件数</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td width="20%" class = "align-items-center text-center">
            <%= link_to  "/users/#{user.nickname}", class:"text-secondary" do %>
              <%= attachment_image_tag @user, :profile_image, size:"50x50", fallback:"img/no_image.jpg", format: 'jpeg', class: "rounded-circle d-block mx-auto" %>
              <%= user.nickname %>
            <% end %>
          </td>
          <td width="60%"  class = "align-middle"><%= simple_format(h(user.introduction), {}, sanitize: false, wrapper_tag:"div") %></td>
          <td width="20%"  class = "align-middle text-center"><%= user.cooks.count %>件</td>
        </tr>
        <% end %>
      </table>
      </div>
    </div>
  </div>
</div>