<!--error_message-->
  <% if flash[:errors] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>以下、<%= pluralize(flash[:errors].count, "件") %> のエラーをご確認ください:</strong><br>
    <% flash[:error_full_messages].each do |message| %>
      ・<%= message %><br>
    <% end %>
  </div>
  <% end %>
<!--end-->

<div class="container">
  <div class="row">
    <div class="mypage col-12 col-lg-10 offset-lg-1">

      <div class="row">
        <div class="col-12">
          <button id="notifications-btn" class="btn btn-outline-info col-12 col-lg-2 offset-lg-7 my-2 mr-2">
            <i class="fa fa-paper-plane"></i>
            <!--もし未確認の通知があれば表示→投稿先まで行くと確認済みになる-->
            <% if @unchecked_notifications.exists? %>
              <i class="fas fa-user-plus"></i><span class="mr-2"><%= @unchecked_notifications.count %></span>
            <% end %>
          </button>
          <div class="notifications mb-2">
            <!--通知情報-->
              <%= render 'notifications/index', notifications: @notifications %>
            <!--end-->
          </div>
          <button id="cook-newform-btn" class="btn btn-outline-success col-12 col-lg-2 my-2"><i class="fa fa-tags"></i></button>
          <div class="cook-newform mb-2">
            <!--料理新規投稿-->
              <%= render 'cooks/newform' %>
            <!--end-->
          </div>
        </div>
      </div>

      <!--自身が投稿した全ての料理-->
      <div class="col-12 border border-warning rounded">
        <h5 class="row p-2 pl-3" style="background:#ffdead"><strong><i class="fas fa-utensils"></i> 料理一覧</strong></h5>
        <!--検索ボックス-->
        <div class="searchbox row mt-2 pl-3">
          <%= search_form_for @q, url: mypage_path, class:"col-12 mt-2" do |f| %>
          <%= f.search_field :cooking_name_or_recipe_cont, placeholder: '料理キーワード入力...', class:"mt-2" %>
          <%= f.submit ("検索") , class: "btn btn-sm btn-outline-success col-12 col-lg-2 mt-1" %>
          <%= link_to "クリア", mypage_path, class: "btn btn-sm btn-outline-primary col-12 col-lg-2 mt-1" %>
          <% end %>
      　</div>
        <!--end-->

        <!--検索結果＊検索かけていないときは全て出力-->
        <div class="row align-items-center">
          <div class="col-12 pt-3 d-flex flex-wrap justify-content-center">
          <% @cooks.each do |cook| %>
            <%= link_to cook_path(cook.id), style:"color:#8b0000;" do %>
              <%= attachment_image_tag cook, :image, size: "150x150", format: 'jpeg', class:"m-1 rounded" %>
              <p>
                <%= truncate(cook.cooking_name, length: 7) %>
                <span>
                  <% if (cook.is_active == false ) %>
                    <i class="fas fa-key"></i>
                  <% end %>
                </span>
              </p>
            <% end %>
          <% end %>
          </div>
          <div class="col-12"><%= paginate @cooks %></div>
        </div>
      <!--end-->

      <!-- お気に入りした料理-->
      <h5 class="row p-2 pl-3" my-3 style="background:#ffffc6"><strong><i class="fas fa-star"></i> お気に入り料理一覧</strong></h5>
        <div class="row">
          <div class="col-12 pt-3 d-flex flex-wrap justify-content-center">
          <% @favorite_cooks.each do |cook| %>
            <%= link_to cook_path(cook.id), style:"color:#8b0000;" do %>
              <%= attachment_image_tag cook, :image, size: "150x150", format: 'jpeg', class:"m-1 rounded" %>
              <div class="caption"><%= truncate(cook.cooking_name, length: 7) %></div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <!--end-->
    </div>
  </div>
</div>