<div class="container">
  <div class="row">
    <div class="mypage col-12 col-lg-10 offset-lg-1">

      <div>
        <button id="notifications-btn" class="btn btn-outline-info col-12 col-lg-3 mt-3 mb-1"><i class="fa fa-paper-plane"></i>お知らせ</button>
        <div class="notifications" class="mt-5">
          <!--通知情報-->
            <%= render 'notifications/index', notifications: @notifications %>
          <!--end-->
        </div>
      </div>

      <div>
        <button id="cook-newform-btn" class="btn btn-outline-success col-12 col-lg-3 my-2"><i class="fa fa-tags"></i>新規投稿</button>
        <div class="cook-newform">
          <!--料理新規投稿-->
            <%= render 'cooks/newform' %>
          <!--end-->
        </div>
      </div>

      <!--自身が投稿した全ての料理-->
      <div class="col-12" style="background:#fbfaf5;">
      <h5 class="my-2 py-3"><strong>自分の料理一覧</strong></h5>
        <!--検索ボックス-->
        <div class="searchbox">
          <%= search_form_for @q, url: mypage_path do |f| %>
          <%= f.search_field :cooking_name_or_description_cont, placeholder: 'キーワードを入力...'%>
          <%= f.submit ("検索") , class: 'btn btn-sm btn-outline-success'%>
          <%= link_to "クリア", mypage_path, class: "btn btn-sm btn-outline-primary" %>
          <% end %>
      　</div>
        <!--end-->

        <!--検索結果＊検索かけていないときは全て出力-->
        <div class="row">
          <div class="d-flex my-box-light flex-wrap">
          <% @cooks.each do |cook| %>
            <%= link_to cook_path(cook.id) do %>
              <%= attachment_image_tag cook, :image, size: "150x150", format: 'jpeg', class:"m-1 rounded" %>
              <p>
                <%= truncate(cook.cooking_name, length: 10) %>
                <span>
                  <% if (cook.is_active == false ) %>
                    <i class="fas fa-key"></i>
                  <% end %>
                </span>
              </p>
            <% end %>
          <% end %>
          </div>
          <div class="col-12"><%= paginate @cooks %></div>
        </div>
      <!--end-->

      <!-- お気に入りした料理-->
      <div class="col-12 mt-2" style="background:#fffff9;">
        <h5 class="my-3 py-3"><strong>お気に入り料理一覧</strong></h5>
        <div class="row">
          <div class="d-flex my-box-light flex-wrap">
          <% @favorite_cooks.each do |cook| %>
            <%= link_to cook_path(cook.id) do %>
              <%= attachment_image_tag cook, :image, size: "150x150", format: 'jpeg', class:"m-1 rounded" %>
              <div class="caption"><%= truncate(cook.cooking_name, length: 10) %></div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <!--end-->
    </div>
  </div>
</div>