<h3 class="col-12">
  <strong>マイページ</strong>
</h3>

<div class="col-3 my-3">
  <!--ユーザー情報-->
    <%= render 'users/user_info', user: @user %>
  <!--end-->
  <!--通知情報-->
    <%= render 'notifications/index', notifications: @notifications %>
  <!--end-->
</div>

<div class="col-9 my-3 border border-light rounded">
  <!--料理新規投稿-->
    <%= render 'cooks/newform' %>
  <!--end-->
</div>

<!--自身が投稿した全ての料理-->
<h5 class="col-12 mt-5"><strong>自分の料理一覧</strong></h5>
<!--検索ボックス-->
<div class="col-12 mt-1 mb-3">
  <div class="searchbox">
    <%= search_form_for @q, url: mypage_path do |f| %>
    <%= f.search_field :cooking_name_or_description_cont, placeholder: 'キーワードを入力...' %>
    <%= f.submit ("検索") , class: 'btn btn-sm btn-outline-success'%>
    <%= link_to "クリア", mypage_path, class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </div>
</div>
<!--end-->
<% @cooks.each do |cook| %>
  <div class="col-3">
    <%= link_to cook_path(cook.id) do %>
      <%= attachment_image_tag cook, :image, size:"200x200", format: 'jpeg' %>
      <p>
        <%= truncate(cook.cooking_name, length: 10) %>
        <span>
          <% if (cook.is_active == true ) %>
            (公開)
          <% else %>
            (非公開)
          <% end %>
        </span>
      </p>
    <% end %>
  </div>
<% end %>
<!--end-->

<!-- お気に入りした料理-->
<h5 class="col-12 my-3"><strong>お気に入り料理一覧</strong></h5>
<% @favorite_cooks.each do |cook| %>
<div class="col-3">
  <%= link_to cook_path(cook.id) do %>
    <%= attachment_image_tag cook, :image, size:"200x200", format: 'jpeg' %>
    <p><%= truncate(cook.cooking_name, length: 10) %></p>
  <% end %>
</div>
<% end %>
<!--end-->