<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">

      <!--ユーザー情報-->
      <div class="col-12 my-3 justify-content-center">
        <%= render 'users/user_info', user: @user %>
      </div>
      <!--end-->

      <!--ユーザー投稿料理-->
      <div class="col-12 m-2" style="background:#fffff9;">
        <h5 class="col-12 pt-3"><strong><%= @user.nickname%>さんの料理一覧</strong></h5>
        <div class="row">
          <div class="d-flex my-box-light flex-wrap justify-content-center col-12">
          <% @cooks.each do |cook| %>
            <%= link_to cook_path(cook.id), style:"color:#8b0000;" do %>
              <%= attachment_image_tag cook, :image, size: "150x150", format: 'jpeg', class:"m-1 rounded" %>
              <div class="caption"><%= truncate(cook.cooking_name, length: 7) %></div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>