<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1 class="text-white" style="font-size:65px;">AsYouCook</h1>
    <p><a class="btn btn-success btn-lg" href="/users/sign_up" role="button">はじめてみる</a></p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12 col-lg-10 offset-lg-1 p-0">
  <h4 class="col-12 col-md-12 mt-2 ml-5">
    <strong>新着料理</strong>
  </h4>

<div class="card-deck col-lg-12 pt-3 p-0 m-0 d-flex flex-wrap justify-content-center">
  <% @cooks.each do |cook| %>
  <div class="card m-4 shadow-lg" style="width: 13rem;">
    <%= attachment_image_tag cook, :image, :fill, 300, 200, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <p class="card-title">
            <strong>
              <%= link_to cook_path(cook.id), style:"color:#8b0000;" do %>
                <i class="fas fa-utensils"></i>
                <%= truncate(cook.cooking_name, length: 10) %>
              <% end %>
            </strong>
          </p>
          <p class="card-text">
            <span><i class="fas fa-user"></i> By <%= cook.user.nickname %></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row col-12 m-0 p-0 justify-content-center">
  <%= link_to "もっと見る！", cooks_path, style: "font-weight: bold;" "border-bottom: solid;" "color: #640125;" %>
</div>