<!DOCTYPE html>
<html>
  <head>
    <title>AsYouCook</title>
    <meta charset="UTF-8">
    <!--レスポンシブの設定-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!--クロスサイトリクエストフォージェリ対策で記述-->
    <%= csrf_meta_tags %>
    <!--Content Scurity Policyを実装する記述-->
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-warning py-3">
        <div class="container">
          <a class="navbar-brand p-3" href="/" style="font-size:30px;"><span><strong>AsYouCook</strong></span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item d-flex align-items-center justify-content-center">
                <%= link_to mypage_path, class: "btn text-white" do %><i class="fas fa-home text-white"></i><strong>マイページ</strong><% end %>
              </li>
              <li class="nav-item d-flex align-items-center justify-content-center">
                <%= link_to cooks_path, class: "btn text-white" do %><i class="fas fa-utensils"></i><strong>みんなの料理</strong><% end %>
              </li>
              <li class="nav-item d-flex align-items-center justify-content-center">
                <%= link_to destroy_user_session_path, class: "btn text-white", method: :delete do %><i class="fas fa-sign-out-alt text-white"></i><strong>ログアウト</strong><% end %>
              </li>
              <span>
                <%= link_to user_nickname_edit_path(current_user.nickname), class: "btn text-white d-flex align-items-center justify-content-center" do %>
                  <%= attachment_image_tag current_user, :profile_image, size:"50x50", format: 'jpeg', fallback:"no_image.jpg", class: "rounded-circle" %>
                <% end %>
              </span>
            <% else %>
              <li class="nav-item d-flex align-items-center justify-content-center">
                <%= link_to root_path, class: "btn text-white" do %><i class="fas fa-home"></i><strong>トップページ</strong><% end %>
              </li>
              <li class="nav-item d-flex align-items-center justify-content-center">
                <%= link_to cooks_path, class: "btn text-white" do %><i class="fas fa-utensils"></i><strong>みんなの料理</strong><% end %>
              </li>
              <li class="nav-item d-flex align-items-center justify-content-center">
                <%= link_to new_user_registration_path, class: "btn text-white" do %><i class="fas fa-user-plus text-white"></i><strong>新規登録</strong><% end %>
              </li>
              <li class="nav-item d-flex align-items-center justify-content-center">
                <%= link_to new_user_session_path, class: "btn text-white" do %><i class="fas fa-sign-in-alt text-white"></i><strong>ログイン</strong><% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
        <!--フラッシュメッセージ-->
          <%= render 'layouts/flash_messages' %>
        <!--end-->
          <%= yield %>
      </div>
    </main>
    <footer class="footer mt-3">AsYouCook</footer>
  </body>
</html>
