<!DOCTYPE html>
<html>
  <head>
    <title>AsYouCook</title>
    <meta charset="UTF-8">
    <!--レスポンシブの設定-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!--クロスサイトリクエストフォージェリ対策で記述-->
    <%= csrf_meta_tags %>
    <!--Content Scurity Policyを実装する記述-->
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-light border-bottom py-3">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'マイページ', mypage_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'みんなの料理', cooks_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'トップページ', root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <main>
      <div class="container">
        <!--フラッシュメッセージ-->
          <%= render 'layouts/flash_messages' %>
        <!--end-->
        <div class="row justify-content-center my-5">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="shadow-sm mt-5">
      <div class="container-fluid">
        <p class="text-muted text-center" style="font-weight: bold;"> AsYouCook.</p>
      </div>
    </footer>
  </body>
</html>
